/*********************************
    Navabar collapse css
**********************************/
    .loader-button {
        vertical-align: middle; display: inline-block; background:url('../box.gif') no-repeat;font-size:1em;
        height: 45px; width: 45px;
    }

    html {
        scroll-behavior: smooth;
    }

    .dt-buttons {
        margin-left: 20px;
    }

    table.dataTable thead th, table.dataTable tfoot th {
        font-weight: 400 !important;
    }

    .flag-icon{
        max-width: 40px;
        /* max-height: 30px; */
    }

    .full-width {
        width: 100%;
    }
    .hide {
        margin-left: -260px;
    }
    .sidebar, .main-panel {
        transition: 500ms;
    }
    .align-parent {
        margin-left: 260px;
    }

    ol.card-category {
        padding-left: 10px;
        list-style: lower-roman;
    }
    .custom-list {
        display: inline list-item;
        padding-right: 5px;
    }

    .orbit {
        position: relative;
        left: -21px;
    }

    .stats .logo {
        max-width: 30px;
        max-height: 30px;
        border-radius: 50%;
        vertical-align: middle;
    }

/*********************************
    Navabar collapse css
**********************************/

/*********************************
    Card header tools css
**********************************/
.card-header::after,
.card-body::after,
.card-footer::after {
  display: block;
  clear: both;
  content: "";
}

.card-header {
  position: relative;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.collapsed-card .card-header {
  border-bottom: none;
}

.card-header > .card-tools {
    position: absolute;
    right: 1rem;
    display: inline-block;
}

.card-header > .card-tools [data-toggle="tooltip"] {
  position: relative;
}

.btn-tool {
  padding: 3px 5px;
  margin: 0;
  font-size: 0.875rem;
  line-height: 1rem;
  background: transparent;
  color: #adb5bd;
}

.btn-group.show .btn-tool, .btn-tool:hover {
  color: #495057;
}

.show .btn-tool, .btn-tool:focus {
  box-shadow: none !important;
}
.card-header > .card-title {
    margin: 0;
    margin-bottom: 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    display: inline-block;
}

/*********************************
    Card header tools css
**********************************/
/*********************************
    Elevation css
**********************************/
.elevation-0 {
    box-shadow: none;
  }

  .elevation-1, .sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-dark-secondary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-secondary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-dark-success .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-success .nav-sidebar > .nav-item > .nav-link.active, .sidebar-dark-info .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-info .nav-sidebar > .nav-item > .nav-link.active, .sidebar-dark-warning .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-warning .nav-sidebar > .nav-item > .nav-link.active, .sidebar-dark-danger .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-danger .nav-sidebar > .nav-item > .nav-link.active, .sidebar-dark-light .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-light .nav-sidebar > .nav-item > .nav-link.active, .sidebar-dark-dark .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-dark .nav-sidebar > .nav-item > .nav-link.active, .callout {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .elevation-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .elevation-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  .elevation-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .elevation-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
/*********************************
    Elevation css
**********************************/
